<a href="https://colab.research.google.com/github/hanatar/ML_week1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

2. basic data exploration

In [16]:
# save filepath to variable for easier access
melbourne_file_path = '../content/gdrive/My Drive/dataset/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)
# print a summary of the data in Melbourne data
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [20]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [23]:
y = melbourne_data.Price
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [24]:
melbourne_features = {'Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude'}

In [26]:
x = melbourne_data[melbourne_features]

In [27]:
x.describe()

           Landsize        Rooms    Lattitude     Bathroom   Longtitude
count   6196.000000  6196.000000  6196.000000  6196.000000  6196.000000
mean     471.006940     2.931407   -37.807904     1.576340   144.990201
std      897.449881     0.971079     0.075850     0.711362     0.099165
min        0.000000     1.000000   -38.164920     1.000000   144.542370
25%      152.000000     2.000000   -37.855438     1.000000   144.926198
50%      373.000000     3.000000   -37.802250     1.000000   144.995800
75%      628.000000     4.000000   -37.758200     2.000000   145.052700
max    37000.000000     8.000000   -37.457090     8.000000   145.526350

In [28]:
x.head()

   Landsize  Rooms  Lattitude  Bathroom  Longtitude
1     156.0      2   -37.8079       1.0    144.9934
2     134.0      3   -37.8093       2.0    144.9944
4     120.0      4   -37.8072       1.0    144.9941
6     245.0      3   -37.8024       2.0    144.9993
7     256.0      2   -37.8060       1.0    144.9954

In [29]:
x.tail()

       Landsize  Rooms  Lattitude  Bathroom  Longtitude
12205     972.0      3  -37.51232       2.0   145.13282
12206     179.0      3  -37.86558       1.0   144.90474
12207       0.0      1  -37.85588       1.0   144.89936
12209       0.0      2  -37.85581       1.0   144.99025
12212    1087.0      6  -37.81038       3.0   144.89389

3. decision tree model

In [30]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same result each run 
melbourne_model = DecisionTreeRegressor(random_state=1)

In [31]:
# Fit model
melbourne_model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [32]:
# Test the result on training data
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Landsize  Rooms  Lattitude  Bathroom  Longtitude
1     156.0      2   -37.8079       1.0    144.9934
2     134.0      3   -37.8093       2.0    144.9944
4     120.0      4   -37.8072       1.0    144.9941
6     245.0      3   -37.8024       2.0    144.9993
7     256.0      2   -37.8060       1.0    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

4. model validation

In [33]:
# Calculate the mean absolute error MSE:

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [35]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to 
# the random_state argument guarantees we get the same split every time we
# run this script 
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [36]:
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit Model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [37]:
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

273959.2853453841

5. underfitting & overfitting

In [38]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_x, train_y)
  preds_val = model.predict(val_x)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [39]:
# compare MAE with differing value of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
  my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
  print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 261718
Max leaf nodes: 5000 		 Mean Absolute Error: 271996

6. random forest model

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

207158.15042874566

In [41]:
print("Making Predictions for the following 10 houses:")
print(x.head(10))
print("The predictions are")
print(forest_model.predict(x.head(10)))

Making Predictions for the following 10 houses:
    Landsize  Rooms  Lattitude  Bathroom  Longtitude
1      156.0      2   -37.8079       1.0    144.9934
2      134.0      3   -37.8093       2.0    144.9944
4      120.0      4   -37.8072       1.0    144.9941
6      245.0      3   -37.8024       2.0    144.9993
7      256.0      2   -37.8060       1.0    144.9954
9      220.0      2   -37.8010       1.0    144.9989
11     214.0      3   -37.8085       2.0    144.9964
12       0.0      2   -37.8078       2.0    144.9965
15     238.0      2   -37.8090       1.0    144.9976
16     113.0      3   -37.8056       2.0    144.9930
The predictions are
[1041445.         1175056.66666667 1480450.         1753505.
 1207230.         1115980.         1429970.          780220.
 1121000.         1185765.        ]

In [42]:
forest_model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)